.item {
    display: inline-block ;
    padding-left: 0px ;
    margin-left: 0px ;
}

.item a::after {
    color : red ;
    content: " > " ;
}

#cac_img {
    width : 128px ;
    transform : rotate(270deg) ;
}

table, td {
    border : 2px solid ;
    margin: 0px ;
}
